
<div class="div-1" style="background-color: #E8E3E1; text-align: center;">
<hr>
<a class = "btn btn-danger" href="{% url 'article:addEtkinlik' %}">Etkinlik Ekle</a>
<a class = "btn btn-info" href="{% url 'article:tumkatilimcilar' %}">Tüm Katılımcılar</a>
<a class = "btn btn-warning" href="{% url 'article:sertifika' %}">Sertifika Ekle</a>
<a class = "btn btn-dark" href="{% url 'article:sertifikalar' %}">Mevcut Sertifikalar</a>
<a class = "btn btn-primary" href="{% url 'article:sertifikapaneli' %}">Sertifika Paneli</a>
<hr>
</div>
