{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static  'css/style.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ana Sayfa</title>
</head>
    <body>
        {% include "includes/navbar.html" %}  

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "info" %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div style= "margin-top : 100px;" class ="container">
            {% block body %}
            
            {% endblock body %}
        </div>
            <script src="{% static 'js/bootstrap.min.js'%}"></script>
            <script src="{% static 'js/jquery-3.2.1.slim.min.js'%}"></script>
            <script src="{% static 'js/popper.min.js'%}"></script>
            <script src="{% static 'js/kutu.js'%}"></script>   
    </body>
   </html>